div(style='background:#ffffff;width:100%;display:flex; justify-content: center;') 
    div(style='padding:8px 15px;margin-right:auto;max-width:525px;width:100%;margin :auto;')
     
        h2(style="color:#e9292c;margin:0;padding:0;") Netflix Clone Team
        h4(style="color:#e9292c;margin:0;padding:0;font-weight:600;font-size:14px;")=footerMessage || 'We’re glad you’re here!'
    