head 
body(style="padding:0;margin:0; font-family: Calibri, sans-serif; ")
    include ./includes/header.pug 
    div(
        style=`
            color:#393939;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color:#ffffff;
            margin :auto;
            background:#e9292c;
        `
    ) 
        div(style=`font-size : 1.125rem;width:100%;padding:20px;max-width:525px;`) 
            div
                h3(style=`padding:0;margin:0`)=`Hi ${userName || 'John Doe'},`
                p(style=`padding:0;margin:1rem 0;`)=`There was a request to change your password!\n If you did not make this request then please ignore this email.\n Otherwise, please click this link to change your password.`
                a(href=requestLink style=`text-decoration:none;position: relative;background:#fff;color:#e9292c;border:none;outline:none;height:30px;padding:4px 15px;min-width:130px;cursor:pointer;top: 7px;`) Change Password 
                include ./includes/contact.pug
    include ./includes/footer.pug